.main {
  height: 100vh;
}

.comment-bubble {
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  display: inline-block;
	-webkit-border-radius: 1rem;
  background-color: var(--bg-primary);
}

.comment-bubble > p {
  margin-bottom: 0rem;
}

.card-body {
  padding: 0px;
}